* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
   /* background-color:bisque; */
    background-color:bisque;
    min-height: 100vh;
    width: 100%;
    font-family: "dinosaur", sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    /* border-top: 2px solid #cccccc; */
    /* border-bottom: 2px solid #cccccc; */
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  
  h3{
    font-size: 20px;
    font-weight: 500;
  }

/* ///////// header ////////*/

.header {
    /* background-color:#00ffdd; */
}

.sidebar {
    /* background-color: rgb(3, 251, 255); */
    position: absolute;
    top: 100px;
    left: 50px; 
    z-index: 12;
    position: fixed;
}

.logo img {
    width: 110px;
    height: 110px;
    cursor: pointer;
}

.logo {
    position: relative;
    z-index: 12;
    bottom: 13px;
  }

  .logo{
    transition: transform 0.5s ease;
  }

  .logo:hover {
    transform: scale(1.15);
  }

  .navigation {
    color: rgb(255, 0, 0);
    /* background-color: aquamarine; */
    text-transform: uppercase;
    /* border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc; */
    z-index: 12; 
    display:flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: 20px;
    
}

.navigation a {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s ease;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.navigation a:hover {
    transform: scale(1.2);
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 0;
    height: 1px;
    background-color: rgb(255, 0, 0);
    transition: width 0.3s ease;
}

.navigation a:hover::after {
    width: 100%;
}

.centerContainer {
    background-color: bisque;
    position: absolute;
    top: 100px;
    left: 211px; 
    z-index: 12;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}

.centerContainer  a{
    /* background-color: bisque; */
    color: red;
    font-weight: 900;
    font-size: 60px;
    z-index: 12;
    float: left;
    text-transform: uppercase;
    padding-right: 65px;
    transition: transform 0.5s ease;
}

.centerContainer a:hover {
    transform: scale(1.05);
}

.wrapper {
    /* background-color: #fe00fe; */
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-height: 400px;
    margin-left: 350px;
    box-sizing: border-box;
    border-bottom: 2px solid #cccccc42;

}

.wrapper p{
    font-size: 30px;
    font-weight: 600;
    line-height: .6;
    color: rgb(34, 62, 36);
    text-align: justify;
    margin: 0;
    padding-left: 0;
    position: relative;
    /* top: -100px; */
}

.circle {
    width: 100vw;
    height: 100vw;
    background-color: bisque;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: -5%;
    transform: translateX(-50%);
    z-index: 10;
  }










/* ///////// MAIN ////////*/

main h1 {
    color: rgb(34, 62, 36);
}

main {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    /* max-height: 30vw; */
    border-left: 2px solid #cccccc4a;
    
}


.introHeader {
    /* background-color: #e5ff00; */
    display: flex;
    position:relative;
    flex-direction: column;
    flex: 1;
    align-items:center;
    justify-content:center;
    padding-left: 140px;
}


.introHeader {
    text-align: center;
    align-items: stretch;
}

.introHeader h1 {
}

.introHeader h1:first-of-type {
    font-size: 57px;
    font-weight: bold;
    color: #f90000;
    line-height: .8;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    padding-bottom: 7px;
}

.introHeader h1:nth-of-type(2) {
    font-size: 40px;
    font-weight: 600;
    color: rgb(34, 62, 36);
    /* margin-top: 10px; */
    margin-bottom: 10px;
    /* border-top: 2px solid #cccccc; */
}

.introHeader h1:nth-of-type(3) {
    font-size: 35px;
    font-weight: normal;
    color: #555;   
    line-height: .8;
    padding-bottom: 20px;
}

.introHeader h1:nth-of-type(4) {
    font-size: 17px;
    font-weight: normal;
    color: #666;
    text-transform: uppercase;
    line-height: .8;
    margin: 0px 0;
}
.introHeader h1:nth-of-type(5) {
    font-size: 17px;
    font-weight: normal;
    color: #666;
    text-transform: uppercase;
    line-height: .8;
    margin: 0px 0;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
}



.imgwrap {
    /* background-color: #fe00fe; */
    display: flex;
    position: relative;
    flex: 2;
    height: 40vw;
    max-height: 900px;
    color: rgb(34, 62, 36);
    /* flex-wrap: nowrap; */
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-end;
}


.imgwrap img {
    position: absolute;
    width: 100%;
    max-width: 700px;
    object-fit: contain;
    margin: 0 auto;
    bottom: 0px;
}

.imgwrap .echo6 {
    z-index: 1;
}

.imgwrap .echo1 {

    z-index: 16;
}

  .imgwrap .echo2 {
    animation: expandSpinFade 3s infinite ease-in-out;
    animation-delay: 0.5s;
    z-index: 17;
}

.imgwrap .echo3 {
    animation: expandSpinFade 3s infinite ease-in-out;
    animation-delay: 1s;
    z-index: 18;
}

.imgwrap .echo4 {
    animation: expandSpinFade 3s infinite ease-in-out;
    animation-delay: 1.5s;
    z-index: 19;
}

.imgwrap .echo5 {
    animation: expandSpinFade 3s infinite ease-in-out;
    animation-delay: 2s;
    z-index: 20;
}

.imgwrap .echo7 {
    position: relative;
    opacity: 090%;
}

.imgwrap .echo8 {
    position: relative;
    opacity: 90%;
}





/* ///////// FOOTER ////////*/

  footer {
    display: flex;
    position: relative;
    color: #898989;
    background-color: #cccccc7a;
    flex-direction: column;
    border-top: 2px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 350px;
    
    
  }

  footer p {
    color: #434344;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }





    
    @keyframes expandSpinFade {
        0% {
            transform: scale(1);
    
        }
        25% {
            transform: scale(1.1);
        
        }
        50% {
            transform: scale(1.2);
        }
        75% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
