* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
   /* background-color:bisque; */
    background-color:bisque;
    min-height: 100vh;
    width: 100%;
    font-family: "dinosaur", sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: bisque;
    color: red;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
  }

  h2 {
    color: rgb(34, 62, 36);
    font-size: 30px;
    font-weight: 600;
  }
  
  h3{
    color: rgb(34, 62, 36);
    font-size: 20px;
    font-weight: 500;
  }

/* ///////// header ////////*/


.header {
  /* background-color:#00ffdd; */
}

.sidebar {
  /* background-color: rgb(3, 251, 255); */
  position: absolute;
  top: 100px;
  left: 50px; 
  z-index: 12;
  position: fixed;
}

.logo img {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.logo {
  position: relative;
  z-index: 12;
  bottom: 13px;
}

.logo{
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.15);
}

.navigation {
  color: rgb(255, 0, 0);
  /* background-color: aquamarine; */
  text-transform: uppercase;
  /* border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc; */
  z-index: 12; 
  display:flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  left: 20px;
  
}

.navigation a {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.5s ease;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.navigation a:hover {
  transform: scale(1.2);
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 0;
  height: 1px;
  background-color: rgb(255, 0, 0);
  transition: width 0.3s ease;
}

.navigation a:hover::after {
  width: 100%;
}

.centerContainer {
  background-color: bisque;
  position: absolute;
  top: 100px;
  left: 211px; 
  z-index: 12;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

.centerContainer  a{
  /* background-color: bisque; */
  color: red;
  font-weight: 900;
  font-size: 60px;
  z-index: 12;
  float: left;
  text-transform: uppercase;
  padding-right: 65px;
  transition: transform 0.5s ease;
}

.centerContainer a:hover {
  transform: scale(1.05);
}

.wrapper {
  /* background-color: #fe00fe; */
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-height: 400px;
  margin-left: 350px;
  box-sizing: border-box;
  border-bottom: 2px solid #cccccc42;

}

.wrapper p{
  font-size: 30px;
  font-weight: 600;
  line-height: .6;
  color: rgb(34, 62, 36);
  text-align: justify;
  margin: 0;
  padding-left: 0;
  position: relative;
  /* top: -100px; */
}

.circle {
  width: 100vw;
  height: 100vw;
  background-color: bisque;
  border-radius: 50%;
  position: absolute;
  left: 90%;
  top: -5%;
  transform: translateX(-50%);
  z-index: 10;
}


/* ///////// MAIN ////////*/

main {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  margin-left: 350px;
  /* max-height: 30vw; */
  border-left: 2px solid #cccccc4a;
  padding-bottom: 40px;
  
}

main header {
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content:center;
  padding-right: 140px;
}

main header h2, h3{
  display: flex;
  position: relative;
  z-index: 6;
}

main header h1 {
  font-size: 60px;
  font-weight: 500;
}
 
.imgwrap {
  /* background-color: aqua; */
  display: flex;
  position: relative;
  flex: 1;
  height: 40vw;
  max-height: 900px;
  color: rgb(34, 62, 36);
  justify-content:left;
  padding: 30px;
}


.imgwrap img {
  position: absolute;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  margin: 0 auto;
  bottom: 0px;
}

  


/* ///////// FOOTER ////////*/

  footer {
    color: #898989;
    background-color: #cccccc7a;
    flex-direction: column;
    border-top: 2px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 230px;
    
  }

  footer p {
    color: #434344;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }



